APP__NAME="Trade Sentiment Journal"
APP__DEBUG=true

SECURITY__PEPPER_SECRET=65cbc7903c444d03a6dca66c132067d4
SECURITY__TOKEN_SECRET=GDH6-gh4NGXdH502CxIEv5nb_XdnRWwvn_fdV6BI52Vq81lAooSIQZ6cFxDqEjt3RU2fh_vrIyoNgolOtT3ztw
SECURITY__access_token_expire_minutes=15
SECURITY__refresh_token_expire_days=7
